body {
    font-family: Arial, sans-serif;
    background-color: rgb(35, 30, 30);
    color: bisque;
}

.news-list {
    position: absolute;
    font-size: large;
    margin-left: 17%;
    padding-bottom: 6px;
    margin-bottom: 6px;
}

.news {
    background-color: wheat;
    padding: 6px;
    margin-bottom: 4px;
    color: black;
}
  
.news .delete-btn {
    cursor: pointer;
    margin-top: -50px;
    font-size: large;
    border: 0.5px solid wheat; 
    color: #fffffd; 
    background-color: #27241f;
    float: right;
}
.news .delete-btn:hover {
    color: #27241f; 
    background-color: #fffffd;
}